<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ---------------------------------------- 0.0/7.4 MB ? eta -:--:--
     ---------------------------------------- 0.0/7.4 MB ? eta -:--:--
     ---------------------------------------- 0.0/7.4 MB 217.9 kB/s eta 0:00:35
     ---------------------------------------- 0.0/7.4 MB 217.9 kB/s eta 0:00:35
     ---------------------------------------- 0.0/7.4 MB 217.9 kB/s eta 0:00:35
     ---------------------------------------- 0.0/7.4 MB 217.9 kB/s eta 0:00:35
     ---------------------------------------- 0.0/7.4 MB 217.9 kB/s eta 0:00:35
     ---------------------------------------- 0.0/7.4 MB 108.9 kB/s eta 0:01:08
     ---------------------------------------- 0.1/7.4 MB 206.9 kB/s eta 0:00:36
     ---------------------------------------- 0.1/7.4 MB 206.9 kB/s eta 0:00:36
     ---------------------------------------- 0.1/7.4 MB 194.1 kB/s eta 0:00:38
     ---------------------------------------- 0.1/7.4 MB 194.1 kB/s eta 0:00:38
     ---------------------------------------- 0.1/7.4 MB 194.1 kB/s eta 0:00:38
     ---------------------------------------- 0.1/7.4 MB 194.1 kB/s eta 0:00:38
     ---------------------------------------- 0.1/7.4 MB 194.1 kB/s eta 0:00:38
      --------------------------------------- 0.2/7.4 MB 255.6 kB/s eta 0:00:29
      --------------------------------------- 0.2/7.4 MB 255.6 kB/s eta 0:00:29
      --------------------------------------- 0.2/7.4 MB 255.6 kB/s eta 0:00:29
      --------------------------------------- 0.2/7.4 MB 255.6 kB/s eta 0:00:29
      --------------------------------------- 0.2/7.4 MB 255.6 kB/s eta 0:00:29
     - -------------------------------------- 0.2/7.4 MB 218.4 kB/s eta 0:00:34
     - -------------------------------------- 0.3/7.4 MB 327.4 kB/s eta 0:00:22
     - -------------------------------------- 0.3/7.4 MB 327.4 kB/s eta 0:00:22
     - -------------------------------------- 0.3/7.4 MB 327.4 kB/s eta 0:00:22
     -- ------------------------------------- 0.4/7.4 MB 361.0 kB/s eta 0:00:20
     -- ------------------------------------- 0.5/7.4 MB 418.7 kB/s eta 0:00:17
     -- ------------------------------------- 0.5/7.4 MB 445.6 kB/s eta 0:00:16
     --- ------------------------------------ 0.6/7.4 MB 470.4 kB/s eta 0:00:15
     --- ------------------------------------ 0.6/7.4 MB 499.7 kB/s eta 0:00:14
     --- ------------------------------------ 0.7/7.4 MB 544.8 kB/s eta 0:00:13
     --- ------------------------------------ 0.7/7.4 MB 544.8 kB/s eta 0:00:13
     ---- ----------------------------------- 0.8/7.4 MB 545.8 kB/s eta 0:00:13
     ---- ----------------------------------- 0.8/7.4 MB 570.8 kB/s eta 0:00:12
     ---- ----------------------------------- 0.9/7.4 MB 593.0 kB/s eta 0:00:12
     ----- ---------------------------------- 1.0/7.4 MB 615.6 kB/s eta 0:00:11
     ----- ---------------------------------- 1.0/7.4 MB 622.2 kB/s eta 0:00:11
     ----- ---------------------------------- 1.1/7.4 MB 667.7 kB/s eta 0:00:10
     ------ --------------------------------- 1.2/7.4 MB 679.4 kB/s eta 0:00:10
     ------ --------------------------------- 1.2/7.4 MB 679.4 kB/s eta 0:00:10
     ------ --------------------------------- 1.2/7.4 MB 666.8 kB/s eta 0:00:10
     ------ --------------------------------- 1.3/7.4 MB 689.0 kB/s eta 0:00:09
     ------- -------------------------------- 1.3/7.4 MB 710.8 kB/s eta 0:00:09
     ------- -------------------------------- 1.4/7.4 MB 719.5 kB/s eta 0:00:09
     ------- -------------------------------- 1.4/7.4 MB 719.5 kB/s eta 0:00:09
     -------- ------------------------------- 1.5/7.4 MB 761.9 kB/s eta 0:00:08
     -------- ------------------------------- 1.6/7.4 MB 765.4 kB/s eta 0:00:08
     -------- ------------------------------- 1.6/7.4 MB 765.4 kB/s eta 0:00:08
     -------- ------------------------------- 1.6/7.4 MB 759.6 kB/s eta 0:00:08
     --------- ------------------------------ 1.7/7.4 MB 786.3 kB/s eta 0:00:08
     --------- ------------------------------ 1.8/7.4 MB 801.0 kB/s eta 0:00:08
     --------- ------------------------------ 1.8/7.4 MB 799.9 kB/s eta 0:00:08
     ---------- ----------------------------- 1.9/7.4 MB 795.1 kB/s eta 0:00:08
     ---------- ----------------------------- 2.0/7.4 MB 849.4 kB/s eta 0:00:07
     ---------- ----------------------------- 2.0/7.4 MB 842.3 kB/s eta 0:00:07
     ----------- ---------------------------- 2.1/7.4 MB 836.5 kB/s eta 0:00:07
     ----------- ---------------------------- 2.1/7.4 MB 843.8 kB/s eta 0:00:07
     ------------ --------------------------- 2.3/7.4 MB 869.9 kB/s eta 0:00:06
     ------------ --------------------------- 2.3/7.4 MB 873.8 kB/s eta 0:00:06
     ------------ --------------------------- 2.3/7.4 MB 880.2 kB/s eta 0:00:06
     ------------- -------------------------- 2.4/7.4 MB 887.3 kB/s eta 0:00:06
     ------------- -------------------------- 2.5/7.4 MB 910.7 kB/s eta 0:00:06
     ------------- -------------------------- 2.5/7.4 MB 912.8 kB/s eta 0:00:06
     -------------- ------------------------- 2.6/7.4 MB 911.8 kB/s eta 0:00:06
     -------------- ------------------------- 2.7/7.4 MB 928.7 kB/s eta 0:00:06
     --------------- ------------------------ 2.8/7.4 MB 938.1 kB/s eta 0:00:05
     --------------- ------------------------ 2.9/7.4 MB 943.9 kB/s eta 0:00:05
     --------------- ------------------------ 2.9/7.4 MB 943.9 kB/s eta 0:00:05
     --------------- ------------------------ 2.9/7.4 MB 945.0 kB/s eta 0:00:05
     ---------------- ----------------------- 3.1/7.4 MB 981.3 kB/s eta 0:00:05
     ---------------- ----------------------- 3.1/7.4 MB 981.3 kB/s eta 0:00:05
     ---------------- ----------------------- 3.1/7.4 MB 961.0 kB/s eta 0:00:05
     ----------------- ---------------------- 3.2/7.4 MB 972.1 kB/s eta 0:00:05
     ----------------- ---------------------- 3.3/7.4 MB 983.0 kB/s eta 0:00:05
     ------------------ --------------------- 3.4/7.4 MB 993.5 kB/s eta 0:00:05
     ------------------ --------------------- 3.4/7.4 MB 993.5 kB/s eta 0:00:05
     ------------------ --------------------- 3.5/7.4 MB 1.0 MB/s eta 0:00:04
     ------------------- -------------------- 3.6/7.4 MB 1.0 MB/s eta 0:00:04
     ------------------- -------------------- 3.6/7.4 MB 1.0 MB/s eta 0:00:04
     ------------------- -------------------- 3.7/7.4 MB 1.0 MB/s eta 0:00:04
     -------------------- ------------------- 3.8/7.4 MB 1.0 MB/s eta 0:00:04
     -------------------- ------------------- 3.9/7.4 MB 1.0 MB/s eta 0:00:04
     -------------------- ------------------- 3.9/7.4 MB 1.0 MB/s eta 0:00:04
     --------------------- ------------------ 3.9/7.4 MB 1.0 MB/s eta 0:00:04
     ---------------------- ----------------- 4.1/7.4 MB 1.1 MB/s eta 0:00:04
     ---------------------- ----------------- 4.1/7.4 MB 1.1 MB/s eta 0:00:04
     ---------------------- ----------------- 4.1/7.4 MB 1.1 MB/s eta 0:00:04
     ---------------------- ----------------- 4.2/7.4 MB 1.1 MB/s eta 0:00:04
     ----------------------- ---------------- 4.3/7.4 MB 1.1 MB/s eta 0:00:03
     ----------------------- ---------------- 4.4/7.4 MB 1.1 MB/s eta 0:00:03
     ----------------------- ---------------- 4.4/7.4 MB 1.1 MB/s eta 0:00:03
     ------------------------ --------------- 4.5/7.4 MB 1.1 MB/s eta 0:00:03
     ------------------------- -------------- 4.7/7.4 MB 1.1 MB/s eta 0:00:03
     ------------------------- -------------- 4.7/7.4 MB 1.1 MB/s eta 0:00:03
     ------------------------- -------------- 4.7/7.4 MB 1.1 MB/s eta 0:00:03
     ------------------------- -------------- 4.8/7.4 MB 1.1 MB/s eta 0:00:03
     -------------------------- ------------- 4.9/7.4 MB 1.1 MB/s eta 0:00:03
     -------------------------- ------------- 5.0/7.4 MB 1.1 MB/s eta 0:00:03
     -------------------------- ------------- 5.0/7.4 MB 1.1 MB/s eta 0:00:03
     --------------------------- ------------ 5.0/7.4 MB 1.1 MB/s eta 0:00:03
     --------------------------- ------------ 5.2/7.4 MB 1.1 MB/s eta 0:00:02
     --------------------------- ------------ 5.2/7.4 MB 1.1 MB/s eta 0:00:02
     ---------------------------- ----------- 5.2/7.4 MB 1.1 MB/s eta 0:00:02
     ---------------------------- ----------- 5.3/7.4 MB 1.1 MB/s eta 0:00:02
     ----------------------------- ---------- 5.4/7.4 MB 1.1 MB/s eta 0:00:02
     ----------------------------- ---------- 5.5/7.4 MB 1.1 MB/s eta 0:00:02
     ----------------------------- ---------- 5.5/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------ --------- 5.6/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------ --------- 5.7/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------ --------- 5.7/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------- -------- 5.8/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------- -------- 5.9/7.4 MB 1.1 MB/s eta 0:00:02
     ------------------------------- -------- 5.9/7.4 MB 1.1 MB/s eta 0:00:02
     -------------------------------- ------- 6.0/7.4 MB 1.1 MB/s eta 0:00:02
     -------------------------------- ------- 6.0/7.4 MB 1.1 MB/s eta 0:00:02
     --------------------------------- ------ 6.2/7.4 MB 1.2 MB/s eta 0:00:02
     --------------------------------- ------ 6.2/7.4 MB 1.2 MB/s eta 0:00:02
     --------------------------------- ------ 6.2/7.4 MB 1.2 MB/s eta 0:00:02
     --------------------------------- ------ 6.3/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------- ----- 6.4/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------- ----- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ----------------------------------- ---- 6.5/7.4 MB 1.2 MB/s eta 0:00:01
     ------------------------------------ --- 6.8/7.4 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 6.9/7.4 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 6.9/7.4 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.0/7.4 MB 1.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.0/7.4 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 7.1/7.4 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 7.1/7.4 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 7.1/7.4 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 7.2/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  7.3/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  7.4/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  7.4/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  7.4/7.4 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------- 7.4/7.4 MB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting greenlet!=0.4.17 (from sqlalchemy==1.4)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
   ---------------------------------------- 0.0/299.7 kB ? eta -:--:--
   --------- ------------------------------ 71.7/299.7 kB 1.3 MB/s eta 0:00:01
   ------------------- -------------------- 143.4/299.7 kB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 204.8/299.7 kB 1.6 MB/s eta 0:00:01
   ------------------------------ --------- 225.3/299.7 kB 1.5 MB/s eta 0:00:01
   ------------------------------ --------- 225.3/299.7 kB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 299.7/299.7 kB 1.2 MB/s eta 0:00:00
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.0-cp312-cp312-win_amd64.whl size=1426296 sha256=c322c3956f30e43b1507f1eef7aac21ba1eb5b29395ef950cfb47bcf15154e07
  Stored in directory: c:\users\james\appdata\local\pip\cache\wheels\a6\b1\f8\f3401c8d8cde72a608b1399e8e0277aa542a70efd4defe44a5
Successfully built sqlalchemy
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-1.4.0
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.12.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython-sql) (8.26.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\james\appdata\roaming\python\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\james\appdata\roaming\python\python312\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\james\appdata\roaming\python\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\james\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\james\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\james\appdata\roaming\python\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.36-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 2.0 MB/s eta 0:00:01
   - -------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 845.5 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/2.1 MB 950.9 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 1.1 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 1.0 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/2.1 MB 1.4 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 1.4 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.1 MB 1.6 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.8 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 2.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.2 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 2.4 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 2.5 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 2.5 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.6 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.4 kB ? eta -:--:--
   ---------------------------------------- 44.4/44.4 kB ? eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.12.0 sqlalchemy-2.0.36 sqlparse-0.5.3
Requirement already satisfied: pandas in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\james\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\james\anaconda3\envs\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\james\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [24]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [25]:
%sql SELECT DISTINCT "Launch_Site" from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [34]:
%sql SELECT "Launch_Site" from SPACEXTABLE WHERE "Launch_Site" LIKE 'KSC%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',),
 ('KSC LC-39A',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [42]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE Customer LIKE 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [46]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE "Booster_Version" LIKE 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [48]:
%sql SELECT MIN(Date) FROM SPACEXTABLE WHERE "Landing_Outcome" == 'Success (drone ship)'

 * sqlite:///my_data1.db
Done.

[('2016-04-08',)]

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [50]:
%sql SELECT Payload FROM SPACEXTABLE WHERE "Landing_Outcome" == 'Success (ground pad)' AND "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000

 * sqlite:///my_data1.db
Done.

[('NROL-76',), ('Boeing X-37B OTV-5',), ('Zuma',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [53]:
%sql SELECT COUNT("Mission_Outcome") FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[(101,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [57]:
%sql SELECT Payload FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" == (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('Starlink 1 v1.0, SpaceX CRS-19 ',),
 ('Starlink 2 v1.0, Crew Dragon in-flight abort test ',),
 ('Starlink 3 v1.0, Starlink 4 v1.0 ',),
 ('Starlink 4 v1.0, SpaceX CRS-20',),
 ('Starlink 5 v1.0, Starlink 6 v1.0 ',),
 ('Starlink 6 v1.0, Crew Dragon Demo-2 ',),
 ('Starlink 7 v1.0, Starlink 8 v1.0',),
 ('Starlink 11 v1.0, Starlink 12 v1.0 ',),
 ('Starlink 12 v1.0, Starlink 13 v1.0 ',),
 ('Starlink 13 v1.0, Starlink 14 v1.0 ',),
 ('Starlink 14 v1.0, GPS III-04  ',),
 ('Starlink 15 v1.0, SpaceX CRS-21',)]

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [68]:
%sql SELECT substr(Date,6,2) as Month, "Landing_Outcome", "Booster_Version", "Launch_Site" FROM SPACEXTABLE WHERE "Landing_Outcome" == 'Success (ground pad)' AND substr(Date,0,5)='2017'

 * sqlite:///my_data1.db
Done.

[('02', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('05', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('06', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('08', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('09', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('12', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [91]:
%%sql 
SELECT "Landing_Outcome", COUNT("Landing_Outcome") as Count FROM SPACEXTABLE 
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Count Desc

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>